@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-ExtraLight.eot");
  src: local("Oswald ExtraLight"), local("Oswald-ExtraLight"), url("../fonts/Oswald-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-ExtraLight.woff2") format("woff2"), url("../fonts/Oswald-ExtraLight.woff") format("woff"), url("../fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Light.eot");
  src: local("Oswald Light"), local("Oswald-Light"), url("../fonts/Oswald-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Light.woff2") format("woff2"), url("../fonts/Oswald-Light.woff") format("woff"), url("../fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.eot");
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.eot");
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.eot");
  src: local("Oswald Regular"), local("Oswald-Regular"), url("../fonts/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"), url("../fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.eot");
  src: local("Oswald SemiBold"), local("Oswald-SemiBold"), url("../fonts/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BlackItalic.eot");
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("../fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2"), url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-BoldItalic.eot");
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("../fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2"), url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-LightItalic.eot");
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-ThinItalic.eot");
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("../fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2"), url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.eot");
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-MediumItalic.eot");
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("../fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2"), url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.eot");
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --Roboto: "Roboto", sans-serif;
  --Oswald: "Oswald", sans-serif;
  --White: #ffffff;
  --DarkBlue: #162A75;
  --Blue: #0066B3;
  --LightBlue: #00AEEF;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  font-size: 18px;
  font-family: var(--Oswald);
  position: relative;
  overflow-x: hidden;
  background-color: var(--DarkBlue);
  color: var(--White);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.wrapper {
  max-width: 1888px;
  padding-inline: 48px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .wrapper {
    max-width: 100%;
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.email {
  color: var(--LightBlue);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
}
.email:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  transition-property: all;
  background: var(--LightBlue);
  transform: scale(0, 1);
  top: 95%;
  left: 0;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.email:hover:after {
  transform: scale(1);
}

.phone {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
}
.phone:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  transition-property: all;
  background: var(--LightBlue);
  transform: scale(0, 1);
  top: 95%;
  left: 0;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.phone path {
  transition: all 0.3s;
}
.phone:hover {
  color: var(--LightBlue);
}
.phone:hover path {
  fill: var(--LightBlue);
  stroke: var(--LightBlue);
}
.phone:hover:after {
  transform: scale(1);
}

.main-navigation__list {
  display: flex;
  align-items: center;
}
.main-navigation__item {
  position: relative;
  transition: all 0.3s;
  border-radius: 4px;
}
.main-navigation__link {
  color: var(--White);
  font-family: var(--Oswald);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 20px 24px;
  border-radius: 4px;
  max-width: max-content;
  transition: all 0.3s;
}
.main-navigation__link svg {
  margin-left: 10px;
  transform: translateY(-2px);
  transition: all 0.3s;
}
.main-navigation__link svg path {
  transition: all 0.3s;
}
.main-navigation__link svg path:last-of-type {
  opacity: 0;
}
.main-navigation__link:hover {
  background-color: var(--Blue);
}
.main-navigation__link:hover svg path {
  stroke: var(--White);
}
.main-navigation__link:hover svg path:last-of-type {
  opacity: 1;
}
.main-navigation__decorate {
  width: 100%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  bottom: 4px;
  left: 0;
  transition: all 0.3s;
}
.main-navigation__sublist {
  position: absolute;
  width: 335px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  background-color: var(--Blue);
  padding: 7px 9px;
  border-radius: 4px;
  margin-top: 8px;
}
.main-navigation__sublink {
  color: var(--White);
  font-family: var(--Roboto);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  position: relative;
  padding: 7px 16px 9px;
  border-radius: 4px;
  background-color: var(--Blue);
  transition: all 0.3s;
  display: flex;
  max-width: 100%;
  width: 100%;
  align-items: center;
}
.main-navigation__sublink svg {
  margin-right: 11px;
}
.main-navigation__sublink path {
  transition: all 0.3s;
}
.main-navigation__item:hover {
  background-color: var(--Blue);
}
.main-navigation__item:hover svg {
  transform: translateY(0);
}
.main-navigation__item:hover .main-navigation__link {
  background-color: var(--Blue);
}
.main-navigation__item:hover .main-navigation__decorate {
  transform: translateY(15px);
  background-color: var(--Blue);
}
.main-navigation__item:hover .main-navigation__sublist {
  background-color: var(--Blue);
  opacity: 1;
  visibility: initial;
  pointer-events: initial;
}
.main-navigation__item:hover .main-navigation__link path {
  stroke: var(--White);
  opacity: 1;
}
.main-navigation__sublink:hover {
  background-color: var(--LightBlue);
}
.main-navigation__sublink:hover path {
  stroke: var(--White);
}
.main-navigation__item:has(.active) {
  background-color: var(--LightBlue);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__flex {
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 136px;
  width: 100%;
  display: block;
  margin-right: 140px;
}
.header__logo img {
  display: block;
}
.header .main-navigation {
  flex-grow: 2;
  margin-right: 32px;
}
.header .phone {
  max-width: 190px;
  margin-right: 32px;
}
.header .email {
  max-width: 115px;
  margin-right: 32px;
}
.header__search {
  display: flex;
  max-width: max-content;
}
.header__search svg path {
  transition: all 0.3s;
}
.header__search svg {
  transition: all 0.3s;
}
.header__search:hover svg path {
  stroke: var(--LightBlue);
}

.main {
  margin-top: 70px;
}

.scroll .navigation {
  background-color: var(--black);
  border-bottom-color: var(--black);
}
.scroll .navigation__link {
  color: var(--blue2);
}
.scroll .navigation__link:hover,
.scroll .navigation__link:hover,
.scroll .navigation__link:hover {
  color: var(--white);
}
.scroll .navigation__link:hover::after,
.scroll .navigation__link:hover::after,
.scroll .navigation__link:hover::after {
  width: 100%;
  background-color: var(--white);
}
@media (max-width: 1023px) {
  .scroll .navigation__link:hover,
  .scroll .navigation__link:hover,
  .scroll .navigation__link:hover {
    color: var(--black);
  }
  .scroll .navigation__link:hover::after,
  .scroll .navigation__link:hover::after,
  .scroll .navigation__link:hover::after {
    width: 100%;
    background-color: var(--black);
  }
}