.menu-open {
  overflow: hidden;
  .main-navigation {
    opacity: 1;
    visibility: initial;
    pointer-events: initial;
  }
  .header__logo {
    background-color: #162a72;
    &::before {
      opacity: 1;
    }

  }
}
