.menu-accordion-active {
  .main-navigation__link {
    padding-bottom: 10px;
  }
  .mobile-icon {
    transform: rotate(-90deg) !important;
    path {
      stroke: var(--LightBlue) !important;
    }
  }
  .main-navigation__sublist {
    max-height: 1200px;
    overflow: initial;
    visibility: initial;
    pointer-events: initial;
    margin-top: 6px;
    margin-bottom: 25px;
  }
  @media (max-width: 767px) {
    .main-navigation__sublist {
      margin-bottom: 0;
    }
  }
}
