.modal-call-back {
  overflow: hidden;
  #modal-call-back {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

.modal-show-map {
  overflow: hidden;
  #modal-show-map {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}
