.modal-call-back {
  overflow: hidden;
  #modal-call-back {
    pointer-events: initial;
    visibility: visible;
    opacity: 1;
  }
}

// .modal-sign-for-diagnostics {
//   overflow: hidden;
//   #modal-sign-for-diagnostics {
//     pointer-events: initial;
//     visibility: visible;
//     opacity: 1;
//   }
// }
