.content-one,
.content {
  padding-top: 70px;
  padding-bottom: 80px;
  font-family: var(--Roboto);

  font-size: 18px;
  &__columns-2 {
    columns: 2;
    column-gap: 32px;
  }
  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    font-family: var(--Oswald);
    font-size: 24px;
    line-height: 1.55;
    font-weight: 400;
    opacity: 1;

    &:first-of-type {
      margin-top: 0;
    }
  }
  p:not([class]) {
    opacity: 0.8;
  }
  img:not([class]) {
    border-radius: 4px;
    overflow: hidden;
    display: block;
    & + * {
      margin-top: 43px;
    }
  }
  * + img:not([class]) {
    margin-top: 43px;
  }
  ul:not([class]),
  ol:not([class]) {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 24px;
      position: relative;
      padding-left: 32px;
      opacity: 0.8;
    }
    li::before {
      content: "";
      display: block;
      width: 16px;
      height: 2px;
      background-color: var(--LightBlue);
      top: 10px;
      position: absolute;
      left: 0;
    }
  }
  .button {
    margin-right: 0;
    margin-left: auto;
  }

  @media (max-width: 1279px) {
    &__columns-2 {
      columns: initial;
    }
  }
}
