.customers {
  .swiper {
    margin-top: 56px;
  }
  .swiper-slide {
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 24px;

    img {
      display: block;
      max-width: 192px;
      height: 112px;
      width: 100%;
      object-fit: contain;
      flex-shrink: 0;
    }
  }
  .swiper-slide--mod {
    background-color: var(--Black);
  }
  .swiper-slide--mod2 {
    background-color: var(--Gray);
  }
}
