.customers {
  padding-top: 75px;
  padding-bottom: 95px;
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    align-items: flex-start;
  }
  &__text {
    grid-column: span 6;
  }
  &__slider {
    display: block;
    grid-column: span 6;
    position: relative;
  }
  .swiper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 24px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      background-color: var(--White);
      z-index: 0;
      border-radius: 4px;
    }
    img {
      display: block;
      max-width: 192px;
      height: 112px;
      width: 100%;
      object-fit: contain;
      flex-shrink: 0;
      position: relative;
      z-index: 2;
    }
    &:hover,
    &:focus {
      &::before {
        left: -8px;
        top: -8px;
        bottom: -8px;
        right: -8px;
      }
    }
  }
  .swiper-slide--mod1 {
    &::before {
      background-color: var(--Black);
    }
  }
  .swiper-slide--mod2 {
    &::before {
      background-color: var(--Gray);
    }
  }

  @media (max-width: 1600px) {
    padding-bottom: 85px;
  }
  @media (max-width: 1279px) {
    padding-top: 66px;

    &__text {
      grid-column: span 12;
    }
    &__slider {
      grid-column: span 12;
    }
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
