.customers {
  padding-top: 85px;
  padding-bottom: 95px;
  .swiper {
    margin-top: 56px;
  }
  .swiper-wrapper {
    max-height: 160px;
  }
  .swiper-slide {
    background-color: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 24px;

    img {
      display: block;
      max-width: 192px;
      height: 112px;
      width: 100%;
      object-fit: contain;
      flex-shrink: 0;
    }
  }
  .swiper-slide--mod1 {
    background-color: var(--Black);
  }
  .swiper-slide--mod2 {
    background-color: var(--Gray);
  }

  @media (max-width: 1600px) {
    padding-bottom: 85px;
  }
  @media (max-width: 1439px) {
    padding-top: 80px;
    // padding-bottom: 85px;
  }
  @media (max-width: 767px) {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}
