.header {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 0 12px;
  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__callback {
    padding: 16px 20px;
    font-size: 14px;
    margin-left: 40px;
    max-width: 265px;
    width: 100%;
  }
  .button-menu {
    display: none;
  }
  .logotype {
    max-width: 450px;
    width: 100%;
  }
  .phone {
    margin-left: auto;
    max-width: 175px;
    flex-shrink: 0;
  }

  @media (max-width: 1199px) {
    &__callback {
      max-width: 250px;
      margin-left: 17px;
    }
  }
  @media (max-width: 1023px) {
    &__callback {
      display: none;
    }
    .button-menu {
      display: flex;
      margin-left: 20px;
    }
    .phone {
      max-width: initial;
    }
  }
  @media (max-width: 767px) {
    .logotype {
      max-width: max-content;
    }
    .logotype__text {
      display: none;
    }
    .button-menu {
      margin-left: 10px;
  }
  }
}
