.header {
  transition: all 0.6s;
  position: fixed;
  top: 0;
  max-width: 100%;
  width: 100%;
  z-index: 999;

  &__flex {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--White2);
    transition: all 0.6s;
  }
  &__logo {
    max-width: 136px;
    width: 100%;
    display: block;
    margin-right: 32px;
    flex-shrink: 0;
    position: relative;
    z-index: 10;
    transition: all 0.6s;

    svg {
      display: block;
      position: relative;
      z-index: 10;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: #162a72;
      pointer-events: none;
      height: 200px;
      width: 100vw;
      z-index: 0;
      left: -20px;
      bottom: -10px;
      transition: all 0.3s;
      opacity: 0;
      z-index: -1;
    }
  }
  .main-navigation {
    margin-right: 32px;
    max-width: max-content;
    margin-left: auto;
  }
  .phone {
    max-width: 190px;
    margin-right: 32px;
    position: relative;
    z-index: 10;
  }
  .email {
    max-width: 115px;
    margin-right: 32px;
    position: relative;
    z-index: 10;
  }
  &__search {
    display: flex;
    max-width: max-content;
    position: relative;
    z-index: 10;
    svg path {
      transition: all 0.3s;
    }
    svg {
      transition: all 0.3s;
    }
    &:hover {
      svg path {
        stroke: var(--LightBlue);
      }
    }
  }
  .button-menu {
    display: none;
    position: relative;
    z-index: 20;
  }
  .mobile-details {
    display: none;
  }
  .logotype-link__scroll {
    display: none;
  }
  .logotype-link__desc {
    display: block;
  }

  @media (max-width: 1247px) {
    &__flex {
      overflow: hidden;
    }
    .main-navigation {
      position: absolute;
      background-color: var(--DarkBlue);
      width: 100%;
      max-width: 100%;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      overflow-y: auto;
      margin: 0;
      padding-top: 180px;
      padding-bottom: 100px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .phone {
      margin-left: auto;
    }
    .button-menu {
      display: flex;
      margin-left: 23px;
    }
  }

  @media (max-width: 767px) {
    .phone {
      display: none;
    }
    .email {
      display: none;
    }
    .main-navigation {
      padding-top: 115px;
      padding-left: 20px;
      padding-right: 20px;
    }
    &__flex {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &__logo {
      margin-right: auto;
      max-width: 115px;
    }
    .mobile-details {
      margin-top: 20px;
      display: block;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      .phone {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        max-width: 100%;
        width: 100%;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        span {
          margin-left: 6px;
        }
      }
      .email {
        display: block;
        color: var(--LightBlue);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    // .logotype-link__scroll {
    //   display: none !important;
    // }
    // .logotype-link__desc {
    //   display: block !important;
    // }
  }
}
