.home-screen {
  background: url(../img/home-screen-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  color: var(--white);
  padding-top: 190px;
  padding-bottom: 125px;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 17px 37px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 755px;
    width: 100%;
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    padding-right: 80px;
    &::before {
      margin-top: 6px;
      flex-shrink: 0;
      content: "";
      display: block;
      background-color: var(--blue);
      width: 9px;
      height: 9px;
      border-radius: 50%;
      margin-right: 13px;
    }
  }

  .title {
    color: inherit;
    font-weight: 800;
    font-size: 40px;
    text-align: left;
    margin-bottom: 40px;
    span {
      display: initial;
      color: var(--blue);
      font-weight: inherit;
    }
  }

  @media (max-width: 1399px) {
    background: url(../img/home-screen-bg-1199.jpg);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
  @media (max-width: 1023px) {
    background: url(../img/home-screen-bg-768.jpg);
    padding-bottom: 60px;
    padding-top: 55px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    .title {
      font-size: 30px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 45px;
    padding-bottom: 60px;
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
    &__item {
      font-size: 14px;
    }
    .title {
      font-size: 24px;
      margin-bottom: 30px;
      br {
        display: none;
      }
    }
  }
  @media (max-width: 500px) {
    background: url(../img/home-screen-bg-375.jpg);
    padding-bottom: 70px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
  }
}
