.our-projects {
  position: relative;
  overflow: hidden;
  padding-top: 143px;
  padding-bottom: 135px;
  min-height: 800px;
  z-index: 1;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(100deg, rgba(22, 42, 117, 0.6) 0%, rgba(22, 42, 117, 0) 100%);
    z-index: 2;
  }
  &__image-bg {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: block;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left bottom;
    }
  }
  &__content {
    position: relative;
    z-index: 10;
  }
  &__title {
    display: block;
    color: var(--White);
    margin: 0;
    font-family: var(--Oswald);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 40px;
    padding-bottom: 45px;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--White2);
      position: absolute;
      bottom: -1px;
      left: -100%;
    }
    &::after {
      content: "";
      display: block;
      width: 730px;
      height: 1px;
      background-color: var(--White2);
      position: absolute;
      bottom: -1px;
      left: 0;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 485px;
    width: 100%;
    gap: 45px 32px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 37px;
  }
  &__items {
    color: var(--LightBlue);
    font-family: var(--Oswald);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.18px;
    .animate-number {
      display: block;
      color: var(--White);
      font-size: 80px;
      font-weight: 700;
      line-height: 1;
    }
  }

  @media (max-width: 1600px) {
    padding-top: 45px;
    padding-bottom: 64px;
    min-height: 600px;
    &__title {
      font-size: 40px;
      padding-bottom: 24px;
      &::after {
        width: 528px;
      }
    }
    &__list {
      gap: 40px 32px;
    }
  }
  @media (max-width: 1023px) {
    &__title {
      margin-bottom: 27px;
      max-width: 100%;
      width: 100%;
      &::after {
        width: 60%;
      }
    }
    &__items span {
      font-size: 56px;
    }
  }
  @media (max-width: 767px) {
    padding-top: 45px;
    padding-bottom: 60px;
    min-height: 435px;
    &__list {
      gap: 13px 15px;
    }
    &__title {
      margin-bottom: 25px;
      &::after {
        width: 50%;
      }
    }
    &__items {
      font-size: 16px;
      span {
        font-size: 40px;
      }
    }

  }
}
