:root {
  --Roboto: 'Roboto', sans-serif;
  --Oswald:  'Oswald', sans-serif;

  --White: #ffffff;
  --White2: rgba(255, 255, 255, 0.2);
  --DarkBlue: #162A75;
  --Blue: #0066B3;
  --Blue2: rgba(0, 102, 179, 0.3);
  --LightBlue: #00AEEF;
}
