:root {
  --Roboto: 'Roboto', sans-serif;
  --Oswald:  'Oswald', sans-serif;

  --White: #ffffff;
  --Gray: #E9E9E9;
  --Gray2: #b9bfd5;
  --Gray3: #6D6E70;

  --Black: #000000;
  --White2: rgba(255, 255, 255, 0.2);

  --DarkBlue: #162A75;
  --DarkBlue2: #0B4894;
  --Blue: #0066B3;
  --Blue2: rgba(0, 102, 179, 0.3);
  --LightBlue: #00AEEF;
  --DarkBlue3: #455591;
}
