.button {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  border: none;
  border-radius: 4px;

  padding: 16px 24px;
  flex-shrink: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: var(--LightBlue);
    z-index: 0;
    border-radius: 4px;
  }
  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: 0;
    margin-right: 16px;
    position: relative;
    transition: all 0.3s;
    z-index: 2;
    border-radius: 50%;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      background-color: var(--White);
      z-index: 0;
      border-radius: 50%;
    }

    svg {
      flex-shrink: 0;
      position: absolute;
      path {
        transition: all 0.3s;
      }
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    flex-shrink: 0;
    flex-grow: 2;
    font-family: var(--Oswald);
    line-height: 1;
    color: var(--White);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }

  &:hover {
    &::before {
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
    }
    .button__icon::before {
      left: -4px;
      top: -4px;
      bottom: -4px;
      right: -4px;
      background-color: var(--DarkBlue);
    }
    .button__icon path {
      stroke: var(--White);
    }
  }

  &--scroll-down {
    .button__text {
      font-size: 14px;
      font-weight: 400;
    }
    &::before {
      display: none;
    }
  }

}
