.docs-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  &__link {
    display: block;
  }
  &__image {
    display: block;
    object-fit: contain;
  }

  @media (max-width: 767px) {
    gap: 16px;

  }
}
