.title {
  display: block;
  margin: 0;
  position: relative;
  color: var(--White);
  font-family: var(--Oswald);
  font-size: 56px;
  line-height: 1.1;
  font-style: normal;
  font-weight: 400;
  span {
    color: var(--LightBlue);
  }

  @media (max-width: 1600px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 25px;
    line-height: 1.4;
  }
}
