.wrapper {
  max-width: calc(1792px + 65px + 65px);
  padding-inline: 65px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1439px) {
    max-width: 100%;
  padding-inline: 50px;
  }

  @media (max-width: 1023px) {
    padding: 0 40px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}
