.wrapper {
  max-width: calc(1160px + 60px + 60px);
  padding-inline: 60px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1023px) {
    max-width: 100%;
    padding: 0 30px;
  }

  @media (max-width: 767px) {
    padding: 0 20px;
  }
}
